.py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:py-5.border-b.border-gray-300
  %header
    %strong
      = f.label :accreditations
    %p.desc
      = t('.description')

  .sm:col-span-2.max-w-lg
    = f.select :accreditations, organization.accreditations, {}, multiple: true, class: 'form-control rounded-md border-gray-300! focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm h-9', data: { placeholder: t('.placeholder') }
