.py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:py-5.border-b.border-gray-300
  %header
    = f.label :legal_status
    .desc
      = t('.description')

  .sm:col-span-2.max-w-lg
    = f.text_field :legal_status, required: false, maxlength: 255, class: input_field_classes
