-# The email partial displays the email icon and address.
  e.g. [icon] admin@example.com

- if email.present?
  %section.email.icon-text-block
    %i.fa.fa-envelope{'aria-label': 'Email'}
    %span.annotated-text-block
      %h4 Email
    %br  
    %a{ href: "mailto:#{email}" }
      %span{ itemprop: 'email' }
        = email
