.featured-location-badge
    .tooltip
        %i.fa.fa-info-circle
        %span.tooltiptext
            %i.fa.fa-info-circle 
            %h3
                What is a CHARMcare Favorite?
            %p 
                CHARMcare users have found this resource to be particularly helpful.
    %br                
    CHARMcare
    %br
    Favorite
