- regex = %r/\A#{taxonomy_id}-.*/
- situation_categories = service[:categories].select { |c| regex.match c[:taxonomy_id] }
- if situation_categories.present?
  - sorted_categories = situation_categories.sort { |a, b| a[:id].to_i - b[:id].to_i }
  %section.situation-categories-box
    %h1
      = t(label_key)
    %section.location-sidebar-content
      %section.service-categories{ itemscope: '', itemtype: 'http://schema.org/Service' }
        %div{  itemscope: '', itemtype: 'http://schema.org/serviceType' }
          = sorted_categories.map {|c| c[:name] }.join(', ')

