<div class="inst-box">
  <header>
    <%= f.label :description %>
    <span class="desc">
      <%= t('.description') %>
    </span>
  </header>
  <%= field_set_tag do %>
    <%= f.text_area :description, required: false, id: 'markdown-editor', class: 'form-control', value: @location.description.gsub(/\n/, '\n') %>
  <% end %>
</div>

