.inst-box.locations
  %header
    %strong
      Locations
    %p.desc
      = t('.description')
  %ul
    - organization.locations.each do |location|
      %li= link_to location.name, edit_admin_location_path(location)
