- title 'Favorites'

- content_for :breadcrumbs do
  %span Favorites

%div.about-container
  .about-summary
    %h2 My Favorites
    %ul
      - @favorites.each do |favorite|
        - url = "/locations/#{favorite.resource_id}"
        %a{ href: url }
          %li= favorite.name

