%tr.admin-row
  %td.data.name
    = super_admin.name
  %td.data.email
    = super_admin.email
  %td.table-button.edit-admin
    = form_for(super_admin, as: super_admin, url: edit_admin_management_path(super_admin.id), html: { method: :get }) do |f|
      .actions
        = f.submit t('admin.management.edit'), class: 'button'
