- if current_admin.super_admin?
  #cvs-downloads
    %h2 CSV Downloads
    - csv_tables.each do |table|
      %p
        = link_to t("admin.buttons.download_#{table}"),
        send(:"admin_csv_#{table}_url"), class: 'btn btn-primary'
