.inst-box
  %header
<<<<<<< HEAD
    = f.label :address_details
=======
    = f.label :Address_details
>>>>>>> ee7c81d2ec1f56acee6591c5bf00f6d6892620e3

  %p
    = f.text_area :address_details, class: 'form-control'
