.inst-box
  .description
    %header
      = f.label :description
      %span.desc
        = t('.description')
    = field_set_tag do
      = f.text_area :description, required: false, class: 'markdown-editor', class: 'form-control', value: @service.description.try(:gsub, /\n/, '\n')

:javascript
  window.simplemde_desc = window.simplemde_desc || new SimpleMDE({ element: $(".markdown-editor")[0] });



