.inst-box
  %header
    = f.label :wait_time
    %p.desc
      = t('.description')

  %p
    = f.select :wait_time, options_for_select(SETTINGS[:wait_times], service.wait_time), {include_blank: 'Unknown'}, {:class => "form-control"}
