.footer
  .footer-content
    .logo-container
      %a{ href: '/', target: '_self', aria: { label: t('titles.brand') } }
        %img{ src: asset_path(SETTINGS[:site_logo]), alt: "#{t('titles.brand')} Footer Logo" }
      %span.subtitle= SETTINGS[:site_subtitle]

    .footer-links{ role: 'navigation', aria: { label: 'Footer Navigation' } }
      .column
        %a{ href: '/about#about-box', aria: { label: t('links.about_charmcare') } }= t('links.about_charmcare')
        %a{ href: '/about#about-box', aria: { label: t('links.connect_with_us') } }= t('links.connect_with_us')
        %a{ href: '/about#about-box', aria: { label: t('links.list_your_services') } }= t('links.list_your_services')
      .column
        %a{ href: 'https://www.baltimorecity.gov/privacy-policy', aria: { label: t('links.privacy_policy') } }= t('links.privacy_policy')
        %a{ href: 'https://www.baltimorecity.gov/terms-of-use', aria: { label: t('links.terms_and_conditions') } }= t('links.terms_and_conditions')
        %a{ href: 'https://civilrights.baltimorecity.gov/faq-americans-disabilities-act-ada', aria: { label: t('links.accessibility') } }= t('links.accessibility')
