%header#content-header
  %h1#logo
    %a{ href: '/', target: '_self' }
      %img{ src: asset_path(SETTINGS[:site_logo]), alt: "#{SETTINGS[:site_title]} Logo" }
  %h2= t('branding.header', location: t('branding.location'))
  %nav
    %ul
      %li
        %a.popup-trigger.popup-default#about-btn{ href: '/about#about-box' }
          About
      - if user_signed_in?
        %li
          %a.popup-trigger.popup-default#about-btn{ href: '/favorites' }
            Favorites
        %li
          %a.popup-trigger.popup-account#user-btn{ href: edit_user_registration_path }
            %div.button-logged-in
              = current_user.first_name[0]&.upcase || current_user.email[0].upcase
      - else
        %li
          %a.popup-trigger.popup-account.button-small#user-btn{ href: new_user_session_path }
            = t('users.login')
