%h1 Tag Management

%div{style:  "width: 90%;"}
  - if current_admin.super_admin?
    %div{ style:  "float: right;" }
      = link_to " + Add New Tag".html_safe, new_admin_tag_path, class: 'btn btn-primary'
    %div{style: "clear: both;"}

  %div
    - if @tags.empty?
      %span
        No results found
    - else
      %p
        - @tags.each do |tag|
          %ul
            = render "tag_list_element", tag: tag
        = paginate @tags
      