
%h1 Tag Management

- if current_admin.super_admin?
  = link_to "Add New Tag", new_admin_tag_path

%div
  - if @tags.empty?
    %span
      No results found
  - else
    %table
      %tbody
        %tr
          %td Tag Name:
          %td Actions:
        - @tags.each do |tag|
          %tr
            %td= tag.name
            %td Update / Delete