/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require framework_and_overrides
 *= require simplemde.min
 *= require_self
 */

@import 'variables';
@import "components/*";
@import "components/*";

// creates styles for text in the navbar that is not a link
.navbar-default {
  #logo {
    float: left;
    margin-right: 20px;
    padding: .6em;
    img {
      max-width: 90px;
    }
  }

  .navbar-brand {
    font-size: 25px;
    color: $purple;
    margin-top: .7em;
  }
  .navbar-brand:hover {
    color: $purple;
  }


  .container {
    width: inherit;
    background-color: rgba($blue, .05)
  }

  a {
    font-family: $font_sans_serif;
  }

  .navbar-nav {
    float: right;

    > li > a {
      font-size: 17px;
      font-weight: 550;
      line-height: 55px;
      color: rgba($grey, .6);

      .edit-account {
        font-size: 21px;
        color: $white;
        background-image: linear-gradient(to right, $blue, $purple);
        border-radius: 50%;
        height: 2em;
        width: 2em;
        text-align: center;
        line-height: 2em;
        margin-top: .3em;
      }
    }

    > li > a:hover {
      color: rgba($grey, .6);
    }
  }
}

#main .content {
  padding: 100px 10px 60px;
}

.content-box {
  border: 1px solid $lighter-red;
  margin-bottom: 10px;
  padding: 20px;

  h1 {
    color: $lighter-red;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  p { padding-top: 10px; }
}

.inst-box {
  border: 1px solid $light-blue;
  margin-bottom: 20px;

  header {
    background: $lighter-blue;
    margin-bottom: 10px;
    padding: 10px;

    .desc {
      display: inline;
      font-size: 14px;

      em {
        color: $red;
      }
    }

    label { font-size: 16px; font-weight: bold; }
  }

  input,
  textarea {
    margin: 0 0 20px;
  }

  p {
    padding: 0 10px;
  }

  fieldset {
    padding: 10px;
  }

  hr {
    margin-left: -10px;
  }
}

.add-fields,
.add-array-fields {
  margin: 10px 0 15px 10px;
}

// Adds a red border around invalid input fields after form submission.
// scss-lint:disable SelectorFormat
.field_with_errors {
  input,
  select,
  textarea {
    border-color: $red;
    border-width: 2px;
  }
}
// scss-lint:enable SelectorFormat

.accessibility {
  input { margin-top: 4px; }

  label { margin-bottom: 7px; }
}

#categories {
  label { margin-bottom: 7px; padding-left: 5px; }
  input { margin: 4px 0 0 -20px; }
}

// margin added to accommodate for floating footer
// This needs to be added to the last form element before the save button
.edit-entry {
  margin-bottom: 60px;
}

.danger-zone {
  border: 1px solid $lighter-red;
  color: $white;
  margin-bottom: 20px;

  header {
    background: $light-red;
    margin-bottom: 10px;
    padding: 10px;
  }

  p {
    color: $black;
    padding: 10px;
  }

  h4 {
    color: $black;
    font-weight: bold;
    padding: 10px 0 0 10px;
  }
}

.archive-prompt {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    justify-content: space-between;
    background-color: $gray;
    border: 1px solid $light-green;
    color: $light-red;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    width: auto;
  }

  label:hover,
  label.archive-checkbox:active {
    background-color: $light-red;
    color: $white;
  }
}

.location-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-all-label {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}

.archive-btn {
  float: right;
  background-color: $light-red;
}

.archived-flag {
  color: $light-red;
  font-weight: bolder;
}

a.boxed-action,
a.boxed-action:link,
a.boxed-action:visited {
  background-color: $gray;
  border: 1px solid $light-green;
  color: $light-red;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

a.boxed-action:hover,
a.boxed-action:active {
  background-color: $light-red;
  color: $white;
}

.save-box {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 10;

  input {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 20px;
  }
}

#dashboard {
  a {
    color: $greyscale_midtone;
    min-width: 200px;
    margin-right: 20px;

    &.button {
      color: $white;
    }
  }

  .capacity {
    margin: 30px 0;
  }
}
#csv-downloads {
  a {
    min-width: 250px;
  }
}

.bold {
  font-weight: 500;
}

.welcome {
  margin-top: 30px;
}
.button {

  .button-small:hover {
    background-image: linear-gradient(to right, tint($blue, 10), tint($purple, 10));
  }
}

.button.action {
  background-color: unset;
  background-image: $button-small-bg;
}

.search-container {
  height: auto;
  margin: 30px 0;
}

.date-picker {
  padding: 0;
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.reset-space-around {
   padding: 0;
   margin: 0;
}

.search-form {
  input[type=text] {
    width: 50%;
    float: left;
  }
  input[type=submit] {
    float: left;
    margin: 0 10px;
  }
}

.search-container {
  height: auto;
  margin: 30px 0;

  .search-form-select {
    width: auto;
    float: left;
  }
}

.date-picker {
  padding: 0;
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.reset-space-around {
   padding: 0;
   margin: 0;
}

#expand-categories-toggle {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
  color: #337ab7;

  &:hover {
    color: #2e6da4
  }
}

.inst-box #categories ul {
  padding: 0 0 0 2em;
}
