%h3
  = t('views.feedback.message_header_1') + @name + t('views.feedback.message_header_2') + @organization_name + ":"
%p
  = @message
  %br
  %br
  %hr
  User Agent: #{@user_agent}
  %br
  %br
  URL: #{ENV['DOMAIN_NAME']}
