.py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:py-5.border-b.border-gray-300
  %header
    = f.label :contact_info, 'Contact Email'
    -#%p.desc
    -#  = t('.description', type: f.object.model_name.human.downcase)

  .sm:col-span-2.max-w-lg
    = f.email_field :email, required: false, maxlength: 255, class: input_field_classes
