.inst-box.funding_sources
  %header
    %strong
      = f.label :tags

  = field_set_tag do
    = text_field_tag "#{f.object.class.name.downcase}[tag_list][]", f.object.tags.pluck(:name).join(","), id: 'select2_tags', class: 'form-control'
