.inst-box.funding_sources
  %header
    %strong
      = f.label :tags

  = field_set_tag do
    = text_field_tag "#{f.object.model_name.singular}[tag_list][]", f.object.tag_list_to_str, id: 'select2_tags', class: 'form-control'
