.filters-container {
  padding-bottom: 5em;
}

.filter-actions-container{
  margin-top: 1em;
  display: block;
  label{
    display: block;
    color: rgba($grey, .9);
    margin-bottom: .5em;
  }
  label:hover{
    cursor: pointer;
    color: rgba($grey, .5)
  }
}


.parent-category-label-container {
  font-family: $font_sans_serif;
  font-size: $font-size_100;
  display: flex;
  //margin-bottom: .5em;
  padding: .25em 0em;
  margin-bottom: .2em;
}

.hoverable:hover {

  cursor: pointer;
  background-color: rgba($blue, .15);
}


.parent-category-label {
  font-family: $font_sans_serif;
  font-size: $font-size_100;
  color: $purple;
  overflow-wrap: normal;
  text-overflow: ellipsis;
}

#reset-button {
  font-family: $font_sans_serif;
  font-size: 14px;
  line-height: 16px;
  color: #6E6E6E;
  background: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 2.5px;
  letter-spacing: 0.05rem;
}

#reset-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-option-filter-button {
  width: 93px;
  height: 32px;
  border: 1px solid #005875;
  color: #005875;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 4px;
  background: #FFFFFF;
}

.search-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.filter-category-item {
  padding: 0 .25em 0 .5em;
  label {
    overflow-wrap: normal;
    text-overflow: ellipsis;
  }
  input[type="checkbox"] {
    margin-right: .3em;
  }
}

.filter-category-label {
  font-family: $font_sans_serif;
  font-size: $font-size_100;
  max-width: 15em;
 }

.filter-dropdown-closed {
  display: inline-block;
  //text-align: right;
  margin-left: auto;
}

.hidden {
  display: none;
}

.category-filters-container {
  padding: .5rem 0rem 0rem 0rem;
}
