// Pagination styles for paging through search results list.
.pagination
{
  text-align: left;

  > h1, ul, li {
    display: inline-block;
  }

  ul {
    display: flex;
    justify-content: center;
    margin-left: -1px;
  }

  li {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    font-size: 0.875rem;
    font-weight: 500;
    background: #ffffff;
    vertical-align: baseline;
    text-align: center;
    margin-left: -1px;
    color: #6E6E6E;
  }

  li.collapsed {
    color: #4b5563;
    background: #ffffff;
    border: 1px solid #d1d5db;
  }

  li:not(.collapsed):not(.current) {
    color: #6b7280;
    background: #ffffff;
    border: 1px solid #d1d5db;
    &:hover {
      background: #f9fafb;
      cursor: pointer;
      a {
        color: #6E6E6E;
      }
    }
  }

  a {
    color: #6E6E6E;
    text-decoration: none;
    display: block;
  }

  .current {
    background: #F5FCFF;
    color: #007FAA;
  }

  .next,
  .prev {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #6E6E6E;
    background: #ffffff;
    border: 1px solid #d1d5db;
    &:hover {
      background: #f9fafb;
    }

    a {
      color: #6b7280;
      text-decoration: none;
      border-bottom: none;
    }

    a:hover {
      text-decoration: none !important;
    }
  }

  .next:hover,
  .prev:hover {
    a {
      color: #6b7280;
    }
    background: #f9fafb !important;
  }

  .prev {
    border-radius: 0.375rem 0 0 0.375rem;
  }

  .next {
    border-radius: 0 0.375rem 0.375rem 0;
  }
}
li.disabled {
  color: #d1d5db !important;
  background: #f9fafb !important;
  cursor: not-allowed !important;
  pointer-events: none !important;

  a {
    color: #d1d5db !important;
  }
}
.columns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-results {
  flex: 1;
  padding-top: 18px;
  padding-left: 20px;
}

.column-pagination {
  flex: none;
  margin-left: auto;
  padding-top: 10px;
}
.pagination-footer {
  .pagination {
    color: #6E6E6E;
  }
}
@media (max-width: 1100px) {
  .columns-wrapper {
    justify-content: center;
  }

  .column-results {
    order: 2;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .column-pagination {
    order: 1;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
