// Override the bootstrap default breakpoint
$grid-float-breakpoint: 960px;

// import the CSS framework
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';

html {
  font-size: 16px;
}
.content {
  font-size: 16px;
  line-height: 1.428;
  padding: 70px 10px 60px;
}

.authform {
  margin: 0 auto;
  max-width: 320px;
  padding-top: 30px;

  form {
    @extend .well;
    @extend .well-lg;
    padding-bottom: 40px;
  }

  .right {
    float: right;
  }

  .button {
    @extend .btn;
    @extend .btn-primary;
  }

  fieldset {
    @extend .well;
  }
}

.form-control {
  font-size: 1.1em;
  border-color: $greyscale_light;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 2em;
  padding-left: 10px;
  padding-right: 10px;
  // width: 325px;
  &:focus {
    outline: $purple auto 4px;
  }
}

#edit_admin {
  .form-control {
    width: 50%;
  }
}

// scss-lint:disable SelectorFormat, IdSelector
#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: 16px;
  }
}
// scss-lint:disable SelectorFormat, IdSelector

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.navbar-toggle {
  margin-right: 25px;
  margin-top: 25px;
}
