<h1>New Recommended Tag</h1>
= render 'error_messages', recommended_tag: @recommended_tag

= form_for [:admin, @recommended_tag], url: admin_recommended_tags_path, html: { method: :post } do |f|
  = render 'form', f: f
