
.md:flex.md:items-center.md:justify-between
  .flex-1.min-w-0
    
    %a{ href: '/', target: '_self' }
      %img{ src: asset_path(SETTINGS[:site_logo]), alt: "#{t('titles.brand')} Logo", style: 'max-width: 90px;'}
    = button_tag type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse' } do
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t('titles.admin'),
              admin_dashboard_url, class: 'navbar-brand'
  .mt-4.flex.md:mt-0.md:ml-4
    %ul.nav.navbar-nav
      = render 'admin/shared/navigation_links'
