.button {
  background-color: $blue;
  border: none;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font_sans_serif;
  font-size: 16px;
  height: 42px;
  margin: .2em;
  min-width: 180px;
  padding: .5em;
  text-align: center;
  text-decoration-line: none;

  &:hover {
    text-decoration: none;
  }

  &.button-light {
    background-color: $purple-t;
    color: $blue;
  }
}
.button-small {
  background-image: linear-gradient(to right, #007faa, #835eb1);
  border: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em 2.6em .5em 2.6em;
  cursor: pointer;
  border: 1px solid transparent;
}