.submit-button {
  background-color: #007FAA;
  color: white;
}
.submit-button:hover {
  background-color: #005876;
  color: white;
}

.clear-filters-button {
  border: 1px solid #dedede;
}

.main-heading {
  color: #835EB1;
}

.locations {
  padding-top: 2em;
}

.inst-box.locations {
  padding-top: 0;
}

.inst-box ul {
  padding: 1em;
  list-style: none;
}

.location-name {
  color: #007FAA;
}

.service-name {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #835EB1
}

.wait-time-options {
  width: 25em;
}

.updated {
  margin-top: 1em;
}
.updated-label {
  display: inline-block;
  color: #B4B4B4;
  margin-left: .5em;
  font-style: italic;
}

.capacity-label {
  padding-left: .2em;
  margin-bottom: .2em;
  font-size: 14px;
}
