.featured_location_tag 
    CHARMcare Favorite
    %span.tooltip
        %i.fa.fa-info-circle
        %span.tooltiptext
            %i.fa.fa-info-circle 
            %h3
                What is a CHARMcare Favorite?
            %p 
                CHARMcare users have found this resource to be particularly helpful.    
    