.featured_location_tag{ tabindex: "0", role: "group", aria: { label: t('labels.charmcare_favorite') } }
  %span{ role: "text" }
    = t('labels.charmcare_favorite')
  %span.tooltip
    %i.fa.fa-info-circle{ tabindex: "0", role: "img", aria: { label: t('labels.information_on_charmcare_favorites') } }
    %span.tooltiptext
      %i.fa.fa-info-circle{ tabindex: "0", role: "img", aria: { label: t('labels.information_on_charmcare_favorites') } }
      %h3= t('labels.what_is_charmcare_favorite')
      %p= t('labels.charmcare_favorite_description')
