%div
  .right-column
    .floating-content.hide><
      %span
        %a.button-utility.button-top{ href: '#' }
          %i.fa.fa-chevron-up
          Top

    = paginate search.locations

  .left-column
    %span.static-content><
    %p.search-summary
      %span
        = page_entries_info search.locations, entry_name: 'result'

      %span.map-summary.static-content
        = map_summary unless search.map_data.empty?
