%section#map-view
  %h4.map-title Community Resources
  #map-canvas
  = render 'component/search/map_data', search: search
  %noscript
    %p.map-alternative
      = "Map is not available because JavaScript is disabled. Please use the address below for directions."
      %br
      %span{ itemprop: 'streetAddress' }
        = @address
    :sass
      #floating-results-header .static-content,
      #map-view
        display: none !important
