%section#map-view
  .map-title-container
    %h4.map-title Community Resources
    %button.map-toggle#map-toggle{type: "button", "aria-label": "Toggle map view"}
      %span.hide-map
        %svg{xmlns: "http://www.w3.org/2000/svg", width: "17", height: "16", viewBox: "0 0 17 16", fill: "none"}
          %path{fill_rule: "evenodd", clip_rule: "evenodd", d: "M2.90039 3.1999C2.90039 2.75807 3.25856 2.3999 3.70039 2.3999H13.3004C13.7422 2.3999 14.1004 2.75807 14.1004 3.1999C14.1004 3.64173 13.7422 3.9999 13.3004 3.9999H3.70039C3.25856 3.9999 2.90039 3.64173 2.90039 3.1999ZM2.90039 6.3999C2.90039 5.95807 3.25856 5.5999 3.70039 5.5999H13.3004C13.7422 5.5999 14.1004 5.95807 14.1004 6.3999C14.1004 6.84173 13.7422 7.1999 13.3004 7.1999H3.70039C3.25856 7.1999 2.90039 6.84173 2.90039 6.3999ZM2.90039 9.5999C2.90039 9.15808 3.25856 8.7999 3.70039 8.7999H13.3004C13.7422 8.7999 14.1004 9.15808 14.1004 9.5999C14.1004 10.0417 13.7422 10.3999 13.3004 10.3999H3.70039C3.25856 10.3999 2.90039 10.0417 2.90039 9.5999ZM2.90039 12.7999C2.90039 12.3581 3.25856 11.9999 3.70039 11.9999H13.3004C13.7422 11.9999 14.1004 12.3581 14.1004 12.7999C14.1004 13.2417 13.7422 13.5999 13.3004 13.5999H3.70039C3.25856 13.5999 2.90039 13.2417 2.90039 12.7999Z", fill: "#007FAA"}
        %span{"aria-label": "Show list view"} List
      %span.show-map
        %svg{xmlns: "http://www.w3.org/2000/svg", width: "16", height: "16", viewBox: "0 0 16 16", fill: "none"}
          %path{d: "M6 13.3332L2.36852 11.5174C2.14267 11.4045 2 11.1737 2 10.9211V3.74519C2 3.24961 2.52154 2.92727 2.96481 3.14891L6 4.6665M6 13.3332L10 11.3332M6 13.3332V4.6665M10 11.3332L13.0352 12.8508C13.4785 13.0724 14 12.7501 14 12.2545V5.07853C14 4.82601 13.8573 4.59517 13.6315 4.48224L10 2.6665M10 11.3332V2.6665M10 2.6665L6 4.6665", stroke: "#007FAA", "stroke-linecap": "round", "stroke-linejoin": "round"}
        %span{"aria-label": "Show map view"} Map
  #map-canvas
  = render 'component/search/map_data', search: search
  %noscript
    %p.map-alternative
      = "Map is not available because JavaScript is disabled. Please use the address below for directions."
      %br
      %span{itemprop: 'streetAddress'}
        = @address
    :sass
      #floating-results-header .static-content,
      #map-view
        display: none !important
